<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form action="/" method="POST">
      <label for="string-to-convert">Enter your phrase: </label>
      <input type="text" id="string-to-convert" name="string">
      <input type="submit">
    </form>
  </body>
</html>
